.Oscillator {
    display: grid;
    grid-template-areas:
        "ttl"
        "wav"
        "mix"
        "oct";
    grid-template-rows: 50px 120px 210px 100px;
    align-items: start;
    justify-items: center;
    text-align: center;
}

.ttl {
    grid-area: ttl;
}

.wav {
    grid-area: wav;
}

.mix {
    grid-area: mix;
}

.oct {
    grid-area: oct;
}