.mainView {
    height: 100vh;
    width: 100vw;
}
.component {
    display:inline-block;
}
.header {
    border: 1pt solid;
    border-color: var(--color-yellow-bright);
    height: 75px;
    width: 100%;
    position:absolute;
    padding: 20px 45px;
}
.transportButton {
    padding: 10px;
    height: 33px;
    width: 33px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    text-align:center;
    color: white;
    margin-right: 10px;
}
.playButton {
    background-color: var(--color-green-bright);
}
.pauseButton {
    background-color: var(--color-green-dark);
}
.stopButton {
    background-color: var(--color-purple-bright);
}
.tempoBox {
    display:flex;
    align-items:center;
    margin-left: 48px;
}
.tempoBox span {
    margin-top: -8px;
}
.stepper {
    display: inline-flex;
    align-items: center;
}
.stepButton {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}
.stepInput {
    box-sizing: border-box;
    height: 30px;
    margin-top: -6px;
    width: 45px;
    text-align: center;
    font-size: 1.5em;
}
.transport {
    display: inline-flex;
    align-items:center;
}
.logo {
    width: 86px;
    position:absolute;
    right:45px;
}