<html>
    <head>
        <title>love mhz template</title>
        <link rel="stylesheet" href="lovemhz.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="transport">Transport</div>
            <div class="branding">Branding</div>
            <div>
            <div class="tab sequencer tab_selected">Sequencer</div>
            <div class="tab controls">Controls</div>
            </div>
            <div class="content">Content</div>
        </div>
    </body>
</html>