@import url('https://fonts.googleapis.com/css?family=Space+Mono:700&subset=latin-ext');

:root {
  --color-yellow-dark: #d1b00c;
  --color-purple-bright: #c20097;
  --color-purple-dark: #750c5e;
  --color-green-bright: #0e8f8b;
  --color-green-dark: #044f4d;
  --color-yellow-bright: #ffd507;
}

body {
  background-color: var(--color-yellow-dark);
  color:white;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

div {
  display:inline-block;
  box-sizing: border-box;
}